<!DOCTYPE html>
<html>

<head>
    <title>My Awesome Website Title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <title>Garbage Detection</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

</head>

<body class="parent">
    <h1 style="margin-bottom: 0px;">Garbage Detection</h1>
    <h4>By CAP18</h4>

    <div id="map" class="leaflet-container leaflet-retina leaflet-fade-anim" tabindex="0">
    </div>

    <div id="modal01" class="modal" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="modal-content">
            <img id="img01" style="max-width:100%">
        </div>
    </div>



    <script>
        var map = L.map("map").setView([32, 35], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
        var uriBeginning = "data:image/jpeg;base64,"
        // var notParsedData = '{{ data }}';
        // var newJson = notParsedData.replace(/([a-zA-Z0-9]+?):/g, '"$1":');
        // newJson = newJson.replace(/'/g, '"');
        // var newJson = notParsedData.replace(/&#39;/g, '');
        // newJson = newJson.replace(/_/g, '');

        
        var data = JSON.parse('{{ data | tojson | safe}}');
        data.forEach(function(myDoc) {
            
            var element = document.createElement("IMG");
            element.classList.add("miniImage");
            element.addEventListener('click', function() {
                document.getElementById("img01").src = element.src;
                document.getElementById("modal01").style.display = "block";
            }, false);
            element.src = uriBeginning + myDoc.predictedImage;
            myDoc.loc.coordinates.reverse();

            var marker = L.marker(myDoc.loc.coordinates)
                .bindPopup(element)
                .addTo(map);
        })

        // img.onclick = 
        function expandImage() {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    </script>
    <!-- <script src="{{ url_for('static', filename='map.js') }}"></script> -->
</body>

</html>